.component-name {
  > .goodelement.-active {
    color: blue;
  }

  .not-error1 {
    color: yellow;
  }

  .badelement {
    color: blue;

    .alsobad {
      color: red;
    }
  }
}

._helper {
  background-color: white;
}
